databases:
  - name: postgres
    databaseName: zendendb
    user: zendendb_user

services:
  - type: web
    name: Zen_Den_For_Scholars
    runtime: python
    buildCommand: "./build.sh"
    startCommand: "gunicorn Zen_Den.wsgi:application"
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: postgres
          property: connectionString
      - key: SECRET_KEY
        generateValue: true
      - key: WEB_CONCURRENCY
        value: 4
      - key: PYTHON_VERSION
        value: 3.11.4
